body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* General container styling */
.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Brand styling */
.brand {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #643a3a;
  margin-top: 20px;
  text-align: center;
  font-family: 'Lucida Handwriting', 'Cursive';
}

/* Form elements styling */
input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #665353;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #643a3a;
}

/* Header styling */
header {
  text-align: center;
  padding: 20px;
  background-image: url('wallpaper.jpg');
  color: rgb(0, 0, 0);
  font-family: 'Lucida Handwriting', 'Cursive';
}

/* Cart button styling */
.cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.cart-button button {
  padding: 10px 20px;
  background-color: #8c6565;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cart-button img {
  width: 20px;
  margin-right: 5px;
}

/* Main content styling */
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.product-card button {
  padding: 10px 20px;
  background-color: #734848;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 20px;
}
